<div class="container">
  <h1>My trips</h1>

  Aqui você visualiza as viagens cadastradas por você que servem para que outros interessados possam lhe encontrar na busca.
  O ideal é que você cadastre em torno de 3 projetos ou países, para que seja mais fácil focar em encontrar pessoas com interesses similares.
  <div class="container mt-4">
    <ul>
      <%  @trips.each do |trip| %>
      <li style="list-style: none">
        <div class="card m-2 p-2">
          <h2><%= trip.project.country %></h2>
          <p><%= trip.project.name  %></p>
          <%= link_to 'Delete', trip_path(trip) , class: "btn-edit mt-2 mb-3", method: :delete, data: { confirm: "Are you sure?" } %>
          <% end  %>
        </div>
      </li>
    </ul>
  </div>
</div>
