<div class="list">
<h6><strong> Notificações</strong></h6>
  <% @notifications.each do |notification| %>
    <%= link_to match_path(notification.match) do %>
      <p> <%= notification.content %> </p>
      <%= image_tag url_for(notification.match.other_user(current_user).photo) %>
    <% end %>
  <% end %>
</div>
