<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/exchangedobem/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCzstn0qkbt9WLIzaIr-7OZQ"><i class="fab fa-youtube"></i></a>
    <a href="https://t.me/exchangedobem"><i class="fa-brands fa-telegram"></i></a>

  </div>
  <div class="footer-links">
  <p class="m-0 text-white"> <strong>Powered by VolunTripr</strong> </p><a href=""> <i class="fa-solid fa-heart"></i></a>
  </div>
  <div class="footer-links">
     <p class="m-0 text-white"> <strong>Suporte:</strong> </p><a href=""><i class="fa-brands fa-whatsapp"></i></a>
  </div>
</div>
