<div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://bl6pap003files.storage.live.com/y4mz6XZMc0QITUBd-9kqnUAUOC7SIIORZ1FIjLD-1YRpdoUg3xEFfsRz1mUAVT2dFrctoid6Fq4oocNT_aHpJwKWhNRSCLH6pKiR-3VPVBGA0-IID_mKiRQzZilDfrRbEl-mSuZqTrtAazN-jZ8271OXCcgtYPHCwXTGGZKJl_SODaF5Nf5CzuMZDNVVsziL8H-2MPlO-lcAulHXqBVIHIkzA/1.png?psid=1&width=1724&height=800');">
  <div class="inner-container">
    <h1><strong>VolunTripr e Exchange do Bem:</strong></h1>
    <h1>o match certo para você!</h1>
    <p class="mb-5">Com a <strong>Voluntripr</strong> você se conecta com voluntários de todo o mundo e organiza o intercâmbio dos seus sonhos!</p>
    <%= link_to "Criar Conta", new_user_registration_path, class: "btn-home" %>
  </div>
</div>

<div class="banner-cards-container row p-5">

  <div class="card card-home" style="width: 22rem; height: 22rem;">
    <img class="card-img-top" src="https://sywxlw.bl.files.1drv.com/y4mcZVwmkWo9Quk-0k1GOeNpgo-ov-LVu6-Ll18AhQPxRw9blvIK42yj7jIvjKGwJPo2N673_irB_b2xYs9dQ2n558WJA1cF77UdyFeDMJJ595Bosh9WC2KQeSE49pN64O2jDdU81p6ouHP07q0pDGpDplNvz_8MuECBQV2LjcKRmrYmGqz2Le2WNG3Zt5l1T38SgqWClqo33KgCwM5snxlzA/1-e1647021426549.webp?psid=1" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Quer fazer um intercâmbio voluntário mas está sem companhia? A VolunTripr te ajuda com isso! De maneira rápida, simples e segura! </p>
    </div>
  </div>

  <div class="card card-home" style="width: 22rem; height: 22rem;">
    <img class="card-img-top" src="https://sywxlw.bl.files.1drv.com/y4muKOuSgxTOeNg07PUz_CZHfCbzbd9uwQ8vsk2fCTp9gWoipC9jo3ebNinV_B8FAR8GTdA3_pnbT8hST-Y79vmd-54V9NmQvEwY8UVjEUwhcPE12Im7TCFuqVwWwCP2HxLRD6mMMWR6cHOaZAxnK1NUe7TpHtL8Nz4dGUPIRySgBF8r2gs2Wq45b-sLGP5qa_rbEglWeTIuF-9LKT6x_ehVA/3-e1647021355473.webp?psid=1" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Com a nossa plataforma, você pode encontrar e dar match com outros voluntários que se interessam pelos mesmos projetos e nas mesmas datas que você!</p>
    </div>
  </div>

  <div class="card card-home" style="width: 22rem; height: 22rem;">
    <img class="card-img-top" src="https://edeudq.dm.files.1drv.com/y4mgzpxiHJX4nxS0ZTkxCnBipLVoXxVEHqHW7U6-D7IOV6XCsg84WswpatjH8FuH_GKxkCSR2bCe84ZIMDfye4Q-a6wvY98qP5tYIV9EDZTbGC5GwCH9yqEJWh6iCsu5zt--PDwp_w0mK5xRVHOqTJ9YWlM9Y2Ksj8TFbJa5wO7mB4yJ-MTBn4BRGa6fhcN5ABVcov-Yfmz8PCr2ibi9HelMg/IMG_1957.JPG?psid=1" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Deu match? Pronto! Agora é conversar e organizar a trip de vocês!  Viajar sozinho nunca mais!</p>
    </div>
  </div>
</div>

<div class="inner-banner mx-4">
  <iframe id='AV_widget_iframe' frameBorder="0" width="100%" height="100%" src="//cl.avis-verifies.com/br/cache/0/2/0/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82/widget4/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82horizontal_index.html"></iframe>
</div>
