<div class="banner" style="background-image: url('https://bl6pap003files.storage.live.com/y4m3olfzmUUhiJabFbCZ3YSAr1Yy2GKaScHujlj--5too1PqBtDCnB17joG2dC4CwIW9GDLUmpI72m8nVhNJO69o696R1FBI_vkOq2iZcP3kwXuGjvd5r7oEkOUhHG1z5-TbIf0XAtDCYDXMCyxM4N1X8LJbFuCIK5VfXU73zE2ENrm-6fhHuFKA41Q5BOfmuAPtEhp1WGa5EV0j4t16Z0wqw/123.png?psid=1&width=2051&height=798');">
    <div class="inner-container">
      <h1>VolunTripr</h1>
      <p>Uma plataforma com a Exchange do Bem para você sempre viajar com companhia! </p>
  <%= link_to "Criar Conta", new_user_registration_path, class: "btn-home" %>
  </div>
    </div>
  <div class="inner-banner row">
    <div class="col-4">
      <p>depoimento</p>
    </div>
    <div class="col-4">
      <p>depoimento</p>
    </div>
    <div class="col-4">
      <p>depoimento</p>
    </div>
  </div>
    <div class="banner-cards-container">
        <div class="banner-card">
        </div>
        <div class="banner-card">
        </div>
        <div class="banner-card">
        </div>

    </div>
