<div class="banner" style="background-image: url('https://bl6pap003files.storage.live.com/y4mz6XZMc0QITUBd-9kqnUAUOC7SIIORZ1FIjLD-1YRpdoUg3xEFfsRz1mUAVT2dFrctoid6Fq4oocNT_aHpJwKWhNRSCLH6pKiR-3VPVBGA0-IID_mKiRQzZilDfrRbEl-mSuZqTrtAazN-jZ8271OXCcgtYPHCwXTGGZKJl_SODaF5Nf5CzuMZDNVVsziL8H-2MPlO-lcAulHXqBVIHIkzA/1.png?psid=1&width=1724&height=800');">
  <div class="inner-container">
    <h1><strong>Voluntripr e Exchange do Bem:</strong></h1>
    <h1>o match certo para você!</h1>
    <p class="mb-5">Com a <strong>Voluntripr</strong> você se conecta com voluntários de todo o mundo e organiza o intercâmbio dos seus sonhos!</p>
    <%= link_to "Criar Conta", new_user_registration_path, class: "btn-home" %>
  </div>
</div>

<div class="banner-cards-container row">
  <div class="banner-card">
  </div>
  <div class="banner-card">
  </div>
  <div class="banner-card">
</div>

<div class="inner-banner mx-4">
  <iframe id='AV_widget_iframe' frameBorder="0" width="100%" height="100%" src="//cl.avis-verifies.com/br/cache/0/2/0/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82/widget4/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82horizontal_index.html"></iframe>
</div>
