<div class="banner" style="background-image: url('https://dsm04pap001files.storage.live.com/y4mvJW7NVzjGC8dWr4ECCPwAxV4Y0lJBoYaWoslFSjFL9yL3mM-bP_a7vUj3Mvk24_17dw76daaAvYbVSEZD9FwYfqSdW0v5H-1LwgRB7kJehZDbmaazPLCZhwohinr4guoO7GzCbu03j0Bg7w1VXdNUu56_LnSgkRBRyOYzRxN_rFYnZuWdPHEBp2M2MEv-7Tk8p6ChC7ym8R0I49GWRFOQw/451A2346.jpg?psid=1&width=1630&height=1086');">
    <div class="inner-container">
      <h1>VolunTripr</h1>
      <p>Uma plataforma com a Exchange do Bem para você sempre viajar com companhia! </p>
  <%= link_to "Criar Conta", new_user_registration_path, class: "btn-home" %>
  </div>
    </div>
  <div class="inner-banner row">
    <div class="col-4">
      <p>depoimento</p>
    </div>
    <div class="col-4">
      <p>depoimento</p>
    </div>
    <div class="col-4">
      <p>depoimento</p>
    </div>
  </div>
    <div class="banner-cards-container">
        <div class="banner-card">
        </div>
        <div class="banner-card">
        </div>
        <div class="banner-card">
        </div>

    </div>
