<div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://bl6pap003files.storage.live.com/y4mz6XZMc0QITUBd-9kqnUAUOC7SIIORZ1FIjLD-1YRpdoUg3xEFfsRz1mUAVT2dFrctoid6Fq4oocNT_aHpJwKWhNRSCLH6pKiR-3VPVBGA0-IID_mKiRQzZilDfrRbEl-mSuZqTrtAazN-jZ8271OXCcgtYPHCwXTGGZKJl_SODaF5Nf5CzuMZDNVVsziL8H-2MPlO-lcAulHXqBVIHIkzA/1.png?psid=1&width=1724&height=800');">
  <div class="inner-container ">
    <%= image_tag "logo_v.png" %>

    <h1>o <span class="match-certo" >match</span> certo para você!</h1>
    <p class="mb-5"></p>
    <%= link_to "Criar Conta", new_user_registration_path, class: "btn-home" %>
    <p class="partner"> Uma parceria &nbsp <%= image_tag "logo_exb.png", :style => "width: 150px" %> </p>
  </div>
</div>

<div class="banner-cards-container row p-5">

  <figure class="image-block">
    <h1>Quer fazer um intercâmbio?</h1>
    <img src="https://dsm01pap007files.storage.live.com/y4munZd9rlpVcmURhdoHGulpaKZj41bw5pTy261ksaEC_ELKnfNIqkeknmT34jhUjamy49wr7wTQZg7OqPlNBBPEWLUlY13GYu5Bi0bAGKvQZSg0AnjVnFpU9DJI8uVOFzG__FElvOLekJq5996V3YTTId5o-qzvqUQIUwUVJXsXl2f88G6om94FOKXe6jcesjb?width=960&height=1280&cropmode=none" alt="" />
    <figcaption>
      <h3>
        Mas está sem companhia?
      </h3>
      <p>A VolunTripr te ajuda com isso! De maneira rápida, simples e segura!</p>
    </figcaption>
  </figure>

  <figure class="image-block">
    <h1>Encontre outros voluntários!</h1>
    <img src="https://dsm01pap007files.storage.live.com/y4mqyJuNLrkSQU3zF3CsnDV7tEiighvweoITLVIob4yXCPvE_TtKWqksAEos_XjWp27sVC0UE4XN4l74ELLk7SFljYmXJPqii1njih9MenvhPzkGKPbDnjXeJ01R3mGVf5SBrZ11tJZlCLfvlSkpiGs7kpZ6bQ3m3RjrAfaJVYeykhP3lUfkQL2wv4mTWzfQGRV?width=480&height=640&cropmode=none" alt="" />
    <figcaption>
      <h3>
        A plataforma
      </h3>
      <p>Aqui você pode encontrar e dar match com outros voluntários que se interessam pelos mesmos projetos e nas mesmas datas que você!</p>
    </figcaption>
  </figure>

  <figure class="image-block">
    <h1>Deu match? </h1>
    <img src="https://dsm01pap006files.storage.live.com/y4mj1gel-UdIE-X0c4627mLoiwdKC6mTeHvivZX286vXGa91909pcMq-vC-Q-DRsVyiS-AdYYbZimGh4fupp9JPIH5zP1b4hmS5k7omBucYpn7-MAa-wSmRTZFiMXPn6Ca5VDPsh_tlUCTpm8ziKAvOaYfmslSetKD3hhQE3j9eMEKvge1N9NbxLmZPkBfH89IZ?width=960&height=1280&cropmode=none" alt="" />
    <figcaption>
      <h3>
        Pronto!
      </h3>
      <p>Agora é conversar e organizar a trip de vocês!  Viajar sozinho nunca mais!</p>
    </figcaption>
  </figure>
</div>

<div class="inner-banner mx-4">
  <iframe id='AV_widget_iframe' frameBorder="0" width="100%" height="100%" src="//cl.avis-verifies.com/br/cache/0/2/0/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82/widget4/0200d5f3-04ae-4ae4-fd43-2fe5de5b3c82horizontal_index.html"></iframe>
</div>
