.banner {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  border: solid #b2ebe0;
  border-width: 0 0 3px 0;
}

.inner-container {
  margin: auto;
  text-align: center;
  color: white;
}

.inner-container h1 {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 45px;
}

.inner-container p {
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  font-size: 20px;
}

.inner-banner {
  display: flex;
  background-color: white;
  color: #fff;
  padding: 50px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin-right: 0px;
}

.inner-banner p {
  font-size: 10px;
}

.banner-cards-container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;

  .image-block {

    width: 375px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    h1 {
      font-size: 36px;
      text-align: left;
      text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

    p {
      font-size: 16px;
    }
  }
}

.banner-card {
  padding: 30px;
  background-color: rgba(147, 140, 140, 0.408);
  border-radius: 5px;
  margin: 20px 0;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.card-home {
border-radius: 5px;
padding: 0px;


}



.card-img-top {
height: 200px;
border-radius: 5px;


  }

.card-text {
// text-align: center;
text-align: justify;
align-items: center;

}


.banner-forms {
  background-size: cover;
  background-position: center;
  background-image: url("https://myzpxa.dm.files.1drv.com/y4mZFv3WgAKpXvXHr1JpF2Yqv0hlm8TyKG7-V9AOY05vjnnjSORU5x4zdKmJMKfmL3Y7XouHiRKHNl-W_klSRufWvV0RXwJKV54DNhxXJF3XLL6M40SEbaojr6AYGEkn5Q8V6G_Yqtylna-6XhEWwaSuKNglV-7_PUMHQz8n2V_RL8uvF5jTfm11ITCRHl5mYXC5p8qziARqJoBo5NAfP2mzQ/IMG_0578.JPG?psid=1");
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
