.btn-home {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  display: inline-block;
  background-color: #fecb29;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    background-color: #fecb29;
    color: white;
    transition: 0.2s;
  }
}

.btn-primary{
  text-decoration: none;
  background-color: #08415C;
  border-radius: 5px;
  border: none;

}
.btn-login {
  text-decoration: none;
  background-color: #08415C;
  border-radius: 5px;
  border: none;
}

.btn-dash {
  background-color: #f47d35;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid #f47d35;
  border-radius: 2px;
  color: white;
  transition: 0.3s;

  &:hover {
    background-color: #54bed6;
    border: 1px solid #54bed6;
    color: white;
    transition: 0.2s;
  }
}

.btn-dash-small {
  background-color: #54bed6;
  text-decoration: none;
  padding: 1px 2px;
  border: 1px solid #54bed6;
  border-radius: 2px;
  color: white;
  font-size: smaller;
  transition: 0.2s;

  &:hover {
    background-color: #b3d4ce;
    border: 1px solid #b3d4ce;
    color: white;
    transition: 0.2s;
  }
}

.btn-match {
  background-color: #f47d35;
  text-align: center;
  vertical-align: middle;
  padding: 8px 6px 8px 6px;
}
