// [--------------- 1 2 3 das colunas ------------------]

.h3-col {
  box-sizing: border-box;
  background-color: #54bed6;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

// [---------------- COLUNA ESQUERDA -------------------]

.column-profile {
  background-color: #fff;
  color: #393939;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


  .fa-pen-to-square {
    color: #f47d35;
  }

  .fa-plane-departure {
    color: #54bed6;
  }

  .fa-briefcase {
    color: #54bed6;
  }

  .fa-map-marker-alt {
    color: #54bed6;
  }

  .about {
    font-size: 30px;
  }

  .card-profile-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vh;
    border-radius: 1px 1px 1px 1px;
    border-bottom: 4px solid #54bed6be;
  }
}

.card-image {
  background-repeat: no-repeat;
  width: 100%;
}

// [---------------- COLUNA MEIO -------------------]

.column-trips {
 // margin: 20px 75px 0 75px;
 width: 60vw;
}

// Div dos projects
.all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 4px 0 4px;
}

// Card da trip
.card-project[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  height: 150px;
  overflow: hidden;

}

.card-project {
  color: white;
  //width: 100%;
  height: 30%;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  padding: 0.5rem;

  .card-tag{
    color: #84e7f5;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    position: absolute;
    bottom: -10px;
    font-weight: bold;
    font-size: 14px;
  }

  .fa-xmark {
    position: absolute;
    top: 12px;
    right: 10px;
    color: white;
  }
}

// Div Resultados
.results {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  justify-content: center;

  h2 {
  font-size: 26px;
  color: #393939;
  text-align: center;
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.scroller {
  overflow-y: scroll;
  max-height: 100vh;
  margin-bottom: 1px;
}


// cards de resultados das matches

.card-search[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-search {
  position: relative;
  height: 300px;
  width: 500px;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  border-radius: 8px;
  border: 1px solid #54bed6;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    color: white;
  }

  .fa-calendar-days {
    font-size: 24px;
    padding-right: 10px;
  }

  .date {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .fa-map-location-dot {
    font-size: 24px;
    padding-right: 10px;
  }

   .destino {
     position: absolute;
     bottom: 60px;
     left: 20px;
     font-size: 16px;
     font-weight: bold;
   }

  .btn-match {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .fa-user {
    position: absolute;
    bottom: 25px;
    right: 20px;
    background-color: #f47d35;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.4s;
    text-align: center;
    vertical-align: middle;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
  }

  .fa-user:hover {
    background-color: #fca23b;
    transition: 0.4s;
    cursor: pointer;
  }
}

// profile(dropdown) de resultados das matches

.pr-show {
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  margin-top: 15px;
  width: 550px;

  p {
    font-size: 12px;
  }

  .fa-briefcase{
    color: #54bed6;
  }

  .fa-map-marker-alt{
    color: #54bed6;
  }

  .fa-plane-departure{
    color: #54bed6;
  }

  .about {
    color: #f47d35;
    font-weight: bolder;
    font-size: 12px;
  }

  .about-info {
    text-align: justify;
    font-size: 12px;
  }
}

// [---------------- COLUNA DIREITA -------------------]

.margin {
  margin-bottom: 20px
}

.column-matches {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  overflow: auto;

  h2 {
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;
  color: #393939;
  text-align: center;
  }

  ul {
    padding: 0;
  }


}

// background das matches feitas

.card-matched[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

// card das matches feitas
.card-matched {
  position: relative;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: white;
  height: 200px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #54bed6;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);

  h3 {
    position: absolute;
    font-size: 18px;
    top: 20px;
    left: 10px;
    font-weight: bold;
    color: white;
  }

  .country {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    position: absolute;
    color: #84e7f5;
    font-weight: bold;
    font-size: 16px;
    bottom: 45px;
    left: 10px;
  }

  .project {
    font-family: "Nunito", "Helvetica", "sans-serif";
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    bottom: 30px;
    left: 10px;
  }

  .date {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    position: absolute;
    bottom: 3px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .fa-user {
    position: absolute;
    font-size: 14px;
    bottom: 15px;
    right: 10px;
    background-color: #f47d35;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.4s;
    text-align: center;
    vertical-align: middle;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
  }

  .fa-user:hover {
    background-color: #fca23b;
    transition: 0.4s;
    cursor: pointer;
  }

  .btn-chat {
    position: absolute;
    bottom: 15px;
    right: 50px;
  }

  .fa-xmark {
    position: absolute;
    top: 22px;
    right: 10px;
    color: white;
  }
}

// profile(dropdown) das matches feitas
.pm-show  {

  padding-left: 30px;
  padding-right: 30px;

  p {
    font-size: 12px;
  }

  .fa-briefcase{
    color: #54bed6;
  }

  .fa-map-marker-alt{
    color: #54bed6;
  }

  .fa-plane-departure{
    color: #54bed6;
  }

  .about {
    color: #f47d35;
    font-weight: bolder;
    font-size: 12px;
  }

  .about-info {
    text-align: justify;
    font-size: 12px;
   }
}


// [---------------- DEVISE -------------------]
.cardbox {
  border-radius: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.912);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 600px;
  padding: 50px;
  margin: 140px 15px;
  padding: 30px 50px 20px 50px;

  h2{
  color: #f47d35;
  }
}

// [---------------- CHAT -------------------]
.card .photo-chat {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 1px 1px rgb(157, 157, 157);
  border: 1px solid white;
  margin: 10px
}


// [---------------- HOME -------------------]


// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 375px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);

		}
		figcaption {
			bottom: 0;
		}
	}

	h1 {
		position: absolute;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 60px;
		font-weight: 100;
		line-height: 1;
	}
	img {
		height: 100%;
		transition: 0.25s;
	}
	figcaption {
		position: absolute;
		bottom: -70%;
		left: 0;
		width: 100%;
		//height: 50%;
		margin: 0;
		padding: 30px;
		background-color: rgba(#54bedc,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
		h3 {
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: $color-2;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
		}
	}
}

// ----------

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .card-matched {
    height: 30vh;
    width: 90vw;
    margin: auto;
    margin-bottom: 15px;
  }

  .card-search {
    height: 30vh;
    width: 90vw;
    margin: auto;
    margin-bottom: 25px;
  }

  .card-project {
    padding: 2px;
    padding-top: 7px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
