.card-trip {
  padding: 0 25px 25px 25px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.card-profile {
  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  height: auto;

  .profile-h2 {
  color: #54bed6;

  }

  ul {
    padding: 0;
  }

  li {
    padding: 0;
  }
}

.card-profile-holder {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #fff;
  height: auto;
  color: #393939;
  margin-left: 0;
  margin-right: 0;


  .fa-pen-to-square {
    color: #f47d35;
  }

  .fa-plane-departure {
    color: #54bed6;
  }

  .fa-briefcase {
    color: #54bed6;
  }

  .fa-map-marker-alt {
    color: #54bed6;
  }

  .about {
    font-size: 30px;
  }

  .card-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 1px 1px 1px 1px;
    border-bottom: 4px solid #54bed6be;
  }
}

.cardbox {
  border-radius: 20px;
  // border: 1px solid #08415C;
  color: black;
  background-color: rgba(255, 255, 255, 0.912);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 600px;
  padding: 50px;
  margin: 140px 15px;
  padding: 30px 50px 20px 50px;

  h2{
  color: #f47d35;
  }
}

.card-search[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  height: 250px;
  overflow: hidden;
}

.card-search {
  color: white;
  width: 25vw;
  height: 20vh;
  position: relative;
  border-radius: 8px;
  border: 1px solid #54bed6;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);

  h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
  }

  .fa-calendar-days {
    font-size: 24px;
    padding-right: 10px;
  }

  .date {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .fa-map-location-dot {
    font-size: 24px;
    padding-right: 10px;
  }

   .destino {
     position: absolute;
     bottom: 60px;
     left: 20px;
     font-size: 16px;
     font-weight: bold;
   }

  .btn-match {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  .btn-profile {
    position: absolute;
    bottom: 25px;
    right: 20px;
  }
}

.card .photo-chat {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 1px 1px rgb(157, 157, 157);
  border: 1px solid white;
  margin: 10px
}

.card-project {
  color: white;
  width: 100%;
  height: 30%;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);

  .card-tag{
    color: #84e7f5;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    position: absolute;
    bottom: -10px;
    font-weight: bold;
    font-size: 14px;
  }

  .fa-xmark {
    position: absolute;
    top: 12px;
    right: 10px;
    color: white;
  }
}

.card-project[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  height: 150px;
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}





.card-matched[style^="background-image:"] {
  background-size: cover;
  background-position: center;
  width: 30vh;
  height: 20vh;
  overflow: hidden;
}

.card-matched {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: white;
  width: 20vh;
  height: 40vh;
  position: relative;
  border-radius: 8px;
  border: 1px solid #54bed6;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  h2 {
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: bold;
  }

  .country {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    position: absolute;
    color: #84e7f5;
    font-weight: bold;
    bottom: 40px;
    left: 10px;
    font-size: 16px;
  }
  .project {

    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 10px;

  }

  .date {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
  }


  .btn-profile {
    position: absolute;
    bottom: 25px;
    right: 10px;
  }

  .btn-chat {
    position: absolute;
    bottom: 25px;
    right: 50px;
  }

  .fa-xmark {
    position: absolute;
    top: 12px;
    right: 10px;
    color: white;
  }
}




/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .cardbox {
    width: 80vw;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-search{
    width: 90vw;
  }

  .card-project{
    width: 94vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
