.container {
  background-color: white;
  justify-content: center;
  align-content: center;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.meio {
  padding: 0;
}

.esquerda {
  padding: 1;
}
