.menu-buttons {
  justify-content: space-between;
  align-items: center;
}
.menu-pass{
  display:flex;


}

.container {
  background-color: white;
  justify-content: space-between;
  margin: 0;
  overflow: auto
}
