.container {
  background-color: white;
  justify-content: center;
  align-content: center;
}

.container-profile {
  background-color: white;
  justify-content: center;
  align-content: center;
  margin:auto;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.meio {
  padding: 0;
}

.esquerda {
  padding: 1;
}

.dashboard-main {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 25px;
}
