.footer {
  background: #54BED6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 50px;
  height: 50px;
  width: 100%;
}
.footer-links {
display: flex;
align-items: center;
}
.footer-links a {
color: white;
text-decoration: none;
font-size: 24px;
padding: 0px 10px;
}
.footer-links a:hover {
color: #FECB29;
}
.fa-heart {
color: red;
}
@media(max-width: 768px){
.footer{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  padding: 0px;
}
.footer-links{
  font-size: 12px;
}
.footer-links a{
  font-size: 18px;
}
}
