.match {
  background: white;

  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 70vw;

  h3 {
    margin-bottom: 0;
  }

  .messages {
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }

  .messages .message {
    width: 100%;
    display: flex;
    .message-content {

      background-color: rgba($color: $orange, $alpha: 0.2);
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 1rem;
      max-width: 90%;
      width: fit-content;
    }
    p {
      margin-bottom: 0;
    }

  }

  .messages .photo-chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px rgb(157, 157, 157);
    border: 1px solid white;
    margin-right: 10px;
    min-width: 50px;
    min-height: 50px;
  }

   #new_message {
    border-top: 1px solid $gray-200;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 10px;

    .form-group {
      margin-bottom: 0;
    }
  }
}
