.navbar-lewagon {
  justify-content: space-between;
  background: #54bed6;
  border: solid #b2ebe0;
  border-width: 0 0 3px 0;
}


.nav-item .nav-link{
  font-weight: bold;
  text-align: center;
  color: white;
  transition: 0.3s;

  &:hover {
    color: #FECB29;
    transition: 0.3s;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}



.avatar {
  border-radius: 50%;
  box-shadow: 1px 1px rgb(157, 157, 157);
  border: 1px solid white;

  &:hover {
    cursor: pointer;
  }
}

.bell{
  width: 25px;
  margin-right: 7px;
  padding-top: 6px;

  &:hover {
    cursor: pointer;
  }
}


@media (max-width: 600px) {

  .dropdown {
    margin: auto;
    padding-top: 10px;
    position: relative;

    .dropdown-menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .bell {
      margin:0;
      padding: 0;
    }
  }
}
