.navbar-lewagon {
  justify-content: space-between;
  background: #54bed6;
  border: solid #b2ebe0;
  border-width: 0 0 3px 0;
}


.nav-item {
  font-weight: bold;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}



.avatar {
  border-radius: 50%;
  box-shadow: 1px 1px rgb(157, 157, 157);
  border: 1px solid white;
}
