.match {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {

    height: 100%;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid grey;
  }

  .messages .photo-chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px grey;
    border: 1px solid white;
    margin-right: 10px;
  }

   #new_message {
    border-top: 1px solid $gray-200;
    margin-top: 5px;

    .form-group {
      margin-bottom: 0;
    }
  }
}
